/* XTerm JS */
@import '@xterm/xterm/css/xterm';

:root {
  --theme-background: black;
  --theme-foreground: white;
  --theme-outline: black;

  overscroll-behavior: none;
  font-size: 11px;
  font-family: courier-new, courier, monospace;

  @media (min-width: 768px) {
    font-size: 13px;
  }
}

body {
  margin: 0;
  background: var(--theme-background);
  scrollbar-width: none;
  color: var(--theme-foreground);

  &:-webkit-scrollbar {
    display: none;
  }
}

#page-content {
  display: flex;
  position: fixed;
  inset: 0;
  overflow-x: scroll;
}
